In [0]:
#calculate
2*(3+4)

14

*Display　something*


```
# これはコードとして書式設定されます
```

In [0]:
'''
Print a value
'''
print(First value:1)

**Calling a function sort**

1.make a list of

Numbers = [4,3,2,1]

2.Use the function sort() to sort the Numbers

3.Display by using print

In [0]:
Numbers = [4,3,2,1]
Numbers.sort()
print (Numbers)

[1, 2, 3, 4]

# My First Notebook
 **Let's write something**